In [1]:
import pandas as pd

In [2]:
ds = [f'{i:>02}' for i in range(2, 13)]

In [3]:
ds

['02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

In [4]:
url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-01.parquet'

df = pd.read_parquet(url)

In [5]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2022-01-01 00:14:21,2022-01-01 00:15:33,N,1.0,42,42,1.0,0.44,3.5,0.50,0.5,0.00,0.0,None,0.3,4.80,2.0,1.0,0.00
1,1,2022-01-01 00:20:55,2022-01-01 00:29:38,N,1.0,116,41,1.0,2.10,9.5,0.50,0.5,0.00,0.0,None,0.3,10.80,2.0,1.0,0.00
2,1,2022-01-01 00:57:02,2022-01-01 01:13:14,N,1.0,41,140,1.0,3.70,14.5,3.25,0.5,4.60,0.0,None,0.3,23.15,1.0,1.0,2.75
3,2,2022-01-01 00:07:42,2022-01-01 00:15:57,N,1.0,181,181,1.0,1.69,8.0,0.50,0.5,0.00,0.0,None,0.3,9.30,2.0,1.0,0.00
4,2,2022-01-01 00:07:50,2022-01-01 00:28:52,N,1.0,33,170,1.0,6.26,22.0,0.50,0.5,5.21,0.0,None,0.3,31.26,1.0,1.0,2.75

In [6]:
df.shape

(62495, 20)

In [7]:
for i in ds:
    url = f'https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2022-{i}.parquet'
    dff = pd.read_parquet(url)
    dff.shape
    df = pd.concat([df, dff])

In [8]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2022-01-01 00:14:21,2022-01-01 00:15:33,N,1.0,42,42,1.0,0.44,3.5,0.50,0.5,0.00,0.0,None,0.3,4.80,2.0,1.0,0.00
1,1,2022-01-01 00:20:55,2022-01-01 00:29:38,N,1.0,116,41,1.0,2.10,9.5,0.50,0.5,0.00,0.0,None,0.3,10.80,2.0,1.0,0.00
2,1,2022-01-01 00:57:02,2022-01-01 01:13:14,N,1.0,41,140,1.0,3.70,14.5,3.25,0.5,4.60,0.0,None,0.3,23.15,1.0,1.0,2.75
3,2,2022-01-01 00:07:42,2022-01-01 00:15:57,N,1.0,181,181,1.0,1.69,8.0,0.50,0.5,0.00,0.0,None,0.3,9.30,2.0,1.0,0.00
4,2,2022-01-01 00:07:50,2022-01-01 00:28:52,N,1.0,33,170,1.0,6.26,22.0,0.50,0.5,5.21,0.0,None,0.3,31.26,1.0,1.0,2.75

In [9]:
df.shape

(840402, 20)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 840402 entries, 0 to 72438
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               840402 non-null  int64
 1   lpep_pickup_datetime   840402 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  840402 non-null  datetime64[ns]
 3   store_and_fwd_flag     750062 non-null  object
 4   RatecodeID             750062 non-null  float64
 5   PULocationID           840402 non-null  int64
 6   DOLocationID           840402 non-null  int64
 7   passenger_count        750062 non-null  float64
 8   trip_distance          840402 non-null  float64
 9   fare_amount            840402 non-null  float64
 10  extra                  840402 non-null  float64
 11  mta_tax                840402 non-null  float64
 12  tip_amount             840402 non-null  float64
 13  tolls_amount           840402 non-null  float64
 14  ehail_fee              0 non-null       object
 15  improvement_surcharge  840402 non-null  float64
 16  total_amount           840402 non-null  float64
 17  payment_type           750062 non-null  float64
 18  trip_type              750047 non-null  float64
 19  congestion_surcharge   750062 non-null  float64
dtypes: datetime64[ns](2), float64(13), int64(3), object(2)
memory usage: 134.6+ MB

In [11]:
df = df.to_csv('green_trip_data')

AttributeError: module 'pandas' has no attribute 'to_csv'

In [12]:
df[df['fare_amount']==0]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
1618,2,2022-01-02 13:06:36,2022-01-02 13:07:48,N,1.0,193,193,1.0,0.0,0.0,0.0,0.0,0.0,0.0,None,0.0,0.0,1.0,1.0,0.0
1954,2,2022-01-02 16:42:54,2022-01-02 16:43:29,N,1.0,193,193,1.0,0.0,0.0,0.0,0.0,0.0,0.0,None,0.0,0.0,1.0,1.0,0.0
1955,2,2022-01-02 16:55:45,2022-01-02 16:55:45,N,1.0,193,193,1.0,0.0,0.0,0.0,0.0,0.0,0.0,None,0.0,0.0,1.0,1.0,0.0
3051,1,2022-01-03 10:14:32,2022-01-03 10:56:51,N,5.0,129,82,1.0,6.9,0.0,0.0,0.0,0.0,0.0,None,0.0,0.0,2.0,2.0,0.0
3875,2,2022-01-03 15:13:30,2022-01-03 15:21:20,N,1.0,193,193,1.0,0.0,0.0,0.0,0.0,0.0,0.0,None,0.0,0.0,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62660,2,2022-12-30 18:55:35,2022-12-30 18:55:40,N,5.0,41,41,1.0,0.0,0.0,0.0,0.0,0.2,0.0,None,1.0,1.2,1.0,2.0,0.0
63174,1,2022-12-30 20:42:49,2022-12-30 20:43:24,N,5.0,83,82,1.0,0.1,0.0,0.0,0.0,0.0,0.0,None,0.0,0.0,3.0,2.0,0.0
64084,2,2022-12-31 12:26:38,2022-12-31 12:28:03,N,1.0,193,193,1.0,0.0,0.0,0.0,0.0,0.0,0.0,None,0.0,0.0,1.0,1.0,0.0
64470,2,2022-12-31 15:20:05,2023-01-01 15:19:06,N,1.0,193,7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,None,0.0,0.0,1.0,1.0,0.0
68786,1,2022-12-15 09:07:06,2022-12-15 09:07:19,None,NaN,151,151,NaN,0.0,0.0,0.0,0.0,0.0,0.0,None,0.0,2.0,NaN,NaN,NaN