In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('dataset/green_tripdata_2019-09.csv')
zone = pd.read_csv('dataset/taxi+_zone_lookup1.csv')

C:\Users\Utomi Ogbe\AppData\Local\Temp\ipykernel_19704\2891207498.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('dataset/green_tripdata_2019-09.csv')

In [3]:
data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [4]:
zone.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [5]:
data["lpep_pickup_datetime"]

0         2019-09-01 00:10:53
1         2019-09-01 00:31:22
2         2019-09-01 00:50:24
3         2019-09-01 00:27:06
4         2019-09-01 00:43:23
                 ...
449058    2019-09-30 23:13:00
449059    2019-09-30 23:26:00
449060    2019-09-30 23:15:00
449061    2019-09-30 23:19:00
449062    2019-09-30 23:35:00
Name: lpep_pickup_datetime, Length: 449063, dtype: object

In [6]:
data["lpep_dropoff_datetime"]

0         2019-09-01 00:23:46
1         2019-09-01 00:44:37
2         2019-09-01 01:03:20
3         2019-09-01 00:33:22
4         2019-09-01 00:59:54
                 ...
449058    2019-09-30 23:41:00
449059    2019-09-30 23:46:00
449060    2019-09-30 23:43:00
449061    2019-10-01 00:06:00
449062    2019-09-30 23:58:00
Name: lpep_dropoff_datetime, Length: 449063, dtype: object

In [7]:
data["lpep_pickup_datetime"] = pd.to_datetime(data["lpep_pickup_datetime"])
data["lpep_dropoff_datetime"] = pd.to_datetime(data["lpep_dropoff_datetime"])

data[data["lpep_pickup_datetime"].dt.date == "2019-09-18"]

In [8]:
data["lpep_pickup_datetime"].dt.date

0         2019-09-01
1         2019-09-01
2         2019-09-01
3         2019-09-01
4         2019-09-01
             ...
449058    2019-09-30
449059    2019-09-30
449060    2019-09-30
449061    2019-09-30
449062    2019-09-30
Name: lpep_pickup_datetime, Length: 449063, dtype: object

In [9]:
data[data["lpep_pickup_datetime"].dt.date == pd.to_datetime('2021-01-15')]

C:\Users\Utomi Ogbe\anaconda3.1\lib\site-packages\pandas\core\ops\array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

In [10]:
######  Question 3. Count records

sep_18 = data[(data["lpep_pickup_datetime"].dt.date == pd.to_datetime('2019-09-18').date()) & (data["lpep_dropoff_datetime"].dt.date == pd.to_datetime('2019-09-18').date())]

In [11]:
sep_18

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
217634,2.0,2019-09-18 09:12:39,2019-09-18 09:20:14,N,1.0,95,134,1.0,1.38,7.00,0.50,0.5,0.0,0.0,NaN,0.3,8.30,2.0,1.0,0.0
218133,2.0,2019-09-18 10:05:23,2019-09-18 10:12:42,N,1.0,95,196,1.0,1.23,7.00,0.50,0.5,0.0,0.0,NaN,0.3,8.30,2.0,1.0,0.0
218134,2.0,2019-09-18 10:53:43,2019-09-18 11:00:01,N,1.0,95,196,1.0,1.31,6.50,0.50,0.5,0.0,0.0,NaN,0.3,7.80,2.0,1.0,0.0
218254,2.0,2019-09-18 00:02:54,2019-09-18 00:08:54,N,1.0,74,168,1.0,1.54,7.00,0.50,0.5,0.0,0.0,NaN,0.3,8.30,2.0,1.0,0.0
218281,2.0,2019-09-18 00:03:40,2019-09-18 00:23:29,N,1.0,168,242,1.0,8.75,26.50,0.50,0.5,0.0,0.0,NaN,0.3,27.80,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423824,NaN,2019-09-18 23:10:00,2019-09-18 23:28:00,NaN,NaN,61,63,NaN,4.03,23.11,2.75,0.5,0.0,0.0,NaN,0.0,26.36,NaN,NaN,NaN
423825,NaN,2019-09-18 23:18:00,2019-09-18 23:59:00,NaN,NaN,71,226,NaN,9.97,59.50,0.00,0.5,0.0,0.0,NaN,0.0,60.00,NaN,NaN,NaN
423828,NaN,2019-09-18 23:00:00,2019-09-18 23:15:00,NaN,NaN,39,76,NaN,3.17,22.25,2.75,0.5,0.0,0.0,NaN,0.0,25.50,NaN,NaN,NaN
423830,NaN,2019-09-18 23:19:00,2019-09-18 23:34:00,NaN,NaN,75,247,NaN,3.74,24.12,2.75,0.5,0.0,0.0,NaN,0.0,27.37,NaN,NaN,NaN
423831,NaN,2019-09-18 23:04:00,2019-09-18 23:14:00,NaN,NaN,49,61,NaN,1.97,15.25,2.75,0.5,0.0,0.0,NaN,0.0,18.50,NaN,NaN,NaN

In [12]:
data.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [13]:
data["lpep_pickup_date"] = data["lpep_pickup_datetime"].dt.date

In [14]:
##### Question 4. Largest trip for each day

grouped_data = data.groupby('lpep_pickup_date')['trip_distance'].max()

In [15]:
sorted_data = grouped_data.reset_index().sort_values('trip_distance', ascending=False)

In [16]:
grouped_data

lpep_pickup_date
2009-01-01     13.61
2009-01-05      0.00
2010-09-23      1.81
2019-08-31     17.66
2019-09-01     48.34
2019-09-02     61.69
2019-09-03     44.80
2019-09-04     42.90
2019-09-05     60.17
2019-09-06     60.56
2019-09-07     54.64
2019-09-08     44.77
2019-09-09     47.82
2019-09-10     69.67
2019-09-11     34.41
2019-09-12     43.12
2019-09-13     47.78
2019-09-14     52.36
2019-09-15     42.60
2019-09-16    114.30
2019-09-17     34.77
2019-09-18     70.28
2019-09-19     61.26
2019-09-20     45.05
2019-09-21    135.53
2019-09-22     60.38
2019-09-23     34.51
2019-09-24     82.12
2019-09-25     34.76
2019-09-26    341.64
2019-09-27     68.41
2019-09-28     89.64
2019-09-29     39.00
2019-09-30     43.23
2019-10-01      2.85
2019-10-10      1.35
2019-10-11      4.02
2019-10-12      0.46
2019-10-31      5.26
2019-11-02      3.43
2019-11-03      1.92
2019-11-21      2.38
2019-11-23      1.71
2019-11-24      3.80
2019-12-01      5.13
2019-12-13      1.62
2019-12-15      0.56
2020-01-03      1.70
2020-02-15      1.57
2020-03-07      0.62
Name: trip_distance, dtype: float64

In [17]:
sorted_data

   lpep_pickup_date  trip_distance
29       2019-09-26         341.64
24       2019-09-21         135.53
19       2019-09-16         114.30
31       2019-09-28          89.64
27       2019-09-24          82.12
21       2019-09-18          70.28
13       2019-09-10          69.67
30       2019-09-27          68.41
5        2019-09-02          61.69
22       2019-09-19          61.26
9        2019-09-06          60.56
25       2019-09-22          60.38
8        2019-09-05          60.17
10       2019-09-07          54.64
17       2019-09-14          52.36
4        2019-09-01          48.34
12       2019-09-09          47.82
16       2019-09-13          47.78
23       2019-09-20          45.05
6        2019-09-03          44.80
11       2019-09-08          44.77
33       2019-09-30          43.23
15       2019-09-12          43.12
7        2019-09-04          42.90
18       2019-09-15          42.60
32       2019-09-29          39.00
20       2019-09-17          34.77
28       2019-09-25          34.76
26       2019-09-23          34.51
14       2019-09-11          34.41
3        2019-08-31          17.66
0        2009-01-01          13.61
38       2019-10-31           5.26
44       2019-12-01           5.13
36       2019-10-11           4.02
43       2019-11-24           3.80
39       2019-11-02           3.43
34       2019-10-01           2.85
41       2019-11-21           2.38
40       2019-11-03           1.92
2        2010-09-23           1.81
42       2019-11-23           1.71
47       2020-01-03           1.70
45       2019-12-13           1.62
48       2020-02-15           1.57
35       2019-10-10           1.35
49       2020-03-07           0.62
46       2019-12-15           0.56
37       2019-10-12           0.46
1        2009-01-05           0.00

In [18]:
data["lpep_pickup_datetime"].dt.date == pd.to_datetime('2019-01-01').date()

0         False
1         False
2         False
3         False
4         False
          ...
449058    False
449059    False
449060    False
449061    False
449062    False
Name: lpep_pickup_datetime, Length: 449063, dtype: bool

In [19]:
data

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,lpep_pickup_date
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.50,...,0.5,2.36,0.00,NaN,0.3,14.16,1.0,1.0,0.0,2019-09-01
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.00,...,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0,2019-09-01
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.00,...,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0,2019-09-01
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.50,...,0.5,1.50,0.00,NaN,0.3,10.30,1.0,1.0,0.0,2019-09-01
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.00,...,0.5,3.06,0.00,NaN,0.3,18.36,1.0,1.0,0.0,2019-09-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449058,NaN,2019-09-30 23:13:00,2019-09-30 23:41:00,NaN,NaN,66,71,NaN,7.84,43.25,...,0.5,0.00,0.00,NaN,0.0,46.50,NaN,NaN,NaN,2019-09-30
449059,NaN,2019-09-30 23:26:00,2019-09-30 23:46:00,NaN,NaN,55,26,NaN,3.56,25.75,...,0.5,0.00,0.00,NaN,0.0,29.00,NaN,NaN,NaN,2019-09-30
449060,NaN,2019-09-30 23:15:00,2019-09-30 23:43:00,NaN,NaN,139,78,NaN,18.47,50.47,...,0.5,0.00,6.12,NaN,0.0,59.84,NaN,NaN,NaN,2019-09-30
449061,NaN,2019-09-30 23:19:00,2019-10-01 00:06:00,NaN,NaN,242,188,NaN,20.10,58.22,...,0.5,0.00,6.12,NaN,0.0,67.59,NaN,NaN,NaN,2019-09-30
449062,NaN,2019-09-30 23:35:00,2019-09-30 23:58:00,NaN,NaN,155,189,NaN,5.87,26.07,...,0.5,0.00,0.00,NaN,0.0,29.32,NaN,NaN,NaN,2019-09-30

In [20]:
PU_join = data.join(zone.set_index('LocationID'), on='PULocationID', how='left', rsuffix='pickup')

# DataFrame.join(other, on=None, how='left', lsuffix='', rsuffix='', sort=False, validate=None)

# data.join(zone)
# zone.join(data)

In [21]:
PU_join

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,lpep_pickup_date,Borough,Zone,service_zone
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.50,...,NaN,0.3,14.16,1.0,1.0,0.0,2019-09-01,Brooklyn,Downtown Brooklyn/MetroTech,Boro Zone
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.00,...,NaN,0.3,13.30,2.0,1.0,0.0,2019-09-01,Brooklyn,Fort Greene,Boro Zone
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.00,...,NaN,0.3,13.30,2.0,1.0,0.0,2019-09-01,Brooklyn,Bushwick South,Boro Zone
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.50,...,NaN,0.3,10.30,1.0,1.0,0.0,2019-09-01,Queens,Long Island City/Hunters Point,Boro Zone
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.00,...,NaN,0.3,18.36,1.0,1.0,0.0,2019-09-01,Brooklyn,Greenpoint,Boro Zone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449058,NaN,2019-09-30 23:13:00,2019-09-30 23:41:00,NaN,NaN,66,71,NaN,7.84,43.25,...,NaN,0.0,46.50,NaN,NaN,NaN,2019-09-30,Brooklyn,DUMBO/Vinegar Hill,Boro Zone
449059,NaN,2019-09-30 23:26:00,2019-09-30 23:46:00,NaN,NaN,55,26,NaN,3.56,25.75,...,NaN,0.0,29.00,NaN,NaN,NaN,2019-09-30,Brooklyn,Coney Island,Boro Zone
449060,NaN,2019-09-30 23:15:00,2019-09-30 23:43:00,NaN,NaN,139,78,NaN,18.47,50.47,...,NaN,0.0,59.84,NaN,NaN,NaN,2019-09-30,Queens,Laurelton,Boro Zone
449061,NaN,2019-09-30 23:19:00,2019-10-01 00:06:00,NaN,NaN,242,188,NaN,20.10,58.22,...,NaN,0.0,67.59,NaN,NaN,NaN,2019-09-30,Bronx,Van Nest/Morris Park,Boro Zone
449062,NaN,2019-09-30 23:35:00,2019-09-30 23:58:00,NaN,NaN,155,189,NaN,5.87,26.07,...,NaN,0.0,29.32,NaN,NaN,NaN,2019-09-30,Brooklyn,Marine Park/Mill Basin,Boro Zone

In [22]:
DO_join = PU_join.join(zone.set_index('LocationID'), on='DOLocationID', how='left', rsuffix='dropoff')

In [23]:
DO_join

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,payment_type,trip_type,congestion_surcharge,lpep_pickup_date,Borough,Zone,service_zone,Boroughdropoff,Zonedropoff,service_zonedropoff
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.50,...,1.0,1.0,0.0,2019-09-01,Brooklyn,Downtown Brooklyn/MetroTech,Boro Zone,Brooklyn,Prospect Heights,Boro Zone
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.00,...,2.0,1.0,0.0,2019-09-01,Brooklyn,Fort Greene,Boro Zone,Brooklyn,Stuyvesant Heights,Boro Zone
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.00,...,2.0,1.0,0.0,2019-09-01,Brooklyn,Bushwick South,Boro Zone,Brooklyn,Crown Heights North,Boro Zone
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.50,...,1.0,1.0,0.0,2019-09-01,Queens,Long Island City/Hunters Point,Boro Zone,Brooklyn,Greenpoint,Boro Zone
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.00,...,1.0,1.0,0.0,2019-09-01,Brooklyn,Greenpoint,Boro Zone,Queens,Ridgewood,Boro Zone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449058,NaN,2019-09-30 23:13:00,2019-09-30 23:41:00,NaN,NaN,66,71,NaN,7.84,43.25,...,NaN,NaN,NaN,2019-09-30,Brooklyn,DUMBO/Vinegar Hill,Boro Zone,Brooklyn,East Flatbush/Farragut,Boro Zone
449059,NaN,2019-09-30 23:26:00,2019-09-30 23:46:00,NaN,NaN,55,26,NaN,3.56,25.75,...,NaN,NaN,NaN,2019-09-30,Brooklyn,Coney Island,Boro Zone,Brooklyn,Borough Park,Boro Zone
449060,NaN,2019-09-30 23:15:00,2019-09-30 23:43:00,NaN,NaN,139,78,NaN,18.47,50.47,...,NaN,NaN,NaN,2019-09-30,Queens,Laurelton,Boro Zone,Bronx,East Tremont,Boro Zone
449061,NaN,2019-09-30 23:19:00,2019-10-01 00:06:00,NaN,NaN,242,188,NaN,20.10,58.22,...,NaN,NaN,NaN,2019-09-30,Bronx,Van Nest/Morris Park,Boro Zone,Brooklyn,Prospect-Lefferts Gardens,Boro Zone
449062,NaN,2019-09-30 23:35:00,2019-09-30 23:58:00,NaN,NaN,155,189,NaN,5.87,26.07,...,NaN,NaN,NaN,2019-09-30,Brooklyn,Marine Park/Mill Basin,Boro Zone,Brooklyn,Prospect Heights,Boro Zone

In [24]:
DO_join[(DO_join['Zone'] != DO_join['Zonedropoff']) & (DO_join['Zone'].notnull())]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,payment_type,trip_type,congestion_surcharge,lpep_pickup_date,Borough,Zone,service_zone,Boroughdropoff,Zonedropoff,service_zonedropoff
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.50,...,1.0,1.0,0.0,2019-09-01,Brooklyn,Downtown Brooklyn/MetroTech,Boro Zone,Brooklyn,Prospect Heights,Boro Zone
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.00,...,2.0,1.0,0.0,2019-09-01,Brooklyn,Fort Greene,Boro Zone,Brooklyn,Stuyvesant Heights,Boro Zone
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.00,...,2.0,1.0,0.0,2019-09-01,Brooklyn,Bushwick South,Boro Zone,Brooklyn,Crown Heights North,Boro Zone
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.50,...,1.0,1.0,0.0,2019-09-01,Queens,Long Island City/Hunters Point,Boro Zone,Brooklyn,Greenpoint,Boro Zone
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.00,...,1.0,1.0,0.0,2019-09-01,Brooklyn,Greenpoint,Boro Zone,Queens,Ridgewood,Boro Zone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449058,NaN,2019-09-30 23:13:00,2019-09-30 23:41:00,NaN,NaN,66,71,NaN,7.84,43.25,...,NaN,NaN,NaN,2019-09-30,Brooklyn,DUMBO/Vinegar Hill,Boro Zone,Brooklyn,East Flatbush/Farragut,Boro Zone
449059,NaN,2019-09-30 23:26:00,2019-09-30 23:46:00,NaN,NaN,55,26,NaN,3.56,25.75,...,NaN,NaN,NaN,2019-09-30,Brooklyn,Coney Island,Boro Zone,Brooklyn,Borough Park,Boro Zone
449060,NaN,2019-09-30 23:15:00,2019-09-30 23:43:00,NaN,NaN,139,78,NaN,18.47,50.47,...,NaN,NaN,NaN,2019-09-30,Queens,Laurelton,Boro Zone,Bronx,East Tremont,Boro Zone
449061,NaN,2019-09-30 23:19:00,2019-10-01 00:06:00,NaN,NaN,242,188,NaN,20.10,58.22,...,NaN,NaN,NaN,2019-09-30,Bronx,Van Nest/Morris Park,Boro Zone,Brooklyn,Prospect-Lefferts Gardens,Boro Zone
449062,NaN,2019-09-30 23:35:00,2019-09-30 23:58:00,NaN,NaN,155,189,NaN,5.87,26.07,...,NaN,NaN,NaN,2019-09-30,Brooklyn,Marine Park/Mill Basin,Boro Zone,Brooklyn,Prospect Heights,Boro Zone

In [25]:
join = DO_join.reset_index()

In [26]:
join.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449063 entries, 0 to 449062
Data columns (total 28 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   index                  449063 non-null  int64
 1   VendorID               389920 non-null  float64
 2   lpep_pickup_datetime   449063 non-null  datetime64[ns]
 3   lpep_dropoff_datetime  449063 non-null  datetime64[ns]
 4   store_and_fwd_flag     389920 non-null  object
 5   RatecodeID             389920 non-null  float64
 6   PULocationID           449063 non-null  int64
 7   DOLocationID           449063 non-null  int64
 8   passenger_count        389920 non-null  float64
 9   trip_distance          449063 non-null  float64
 10  fare_amount            449063 non-null  float64
 11  extra                  449063 non-null  float64
 12  mta_tax                449063 non-null  float64
 13  tip_amount             449063 non-null  float64
 14  tolls_amount           449063 non-null  float64
 15  ehail_fee              0 non-null       float64
 16  improvement_surcharge  449063 non-null  float64
 17  total_amount           449063 non-null  float64
 18  payment_type           389920 non-null  float64
 19  trip_type              389920 non-null  float64
 20  congestion_surcharge   389920 non-null  float64
 21  lpep_pickup_date       449063 non-null  object
 22  Borough                449063 non-null  object
 23  Zone                   448762 non-null  object
 24  service_zone           448119 non-null  object
 25  Boroughdropoff         449063 non-null  object
 26  Zonedropoff            447785 non-null  object
 27  service_zonedropoff    445106 non-null  object
dtypes: datetime64[ns](2), float64(15), int64(3), object(8)
memory usage: 95.9+ MB

In [27]:
##### Question 5. Three biggest pick up Boroughs


trips_sep_18 = join[join["lpep_pickup_datetime"].dt.date == pd.to_datetime('2019-09-18').date()]

In [28]:
trips_sep_18.groupby('Borough')['total_amount'].sum()

Borough
Bronx            32830.09
Brooklyn         96333.24
Manhattan        92271.30
Queens           78671.71
Staten Island      342.59
Unknown            728.75
Name: total_amount, dtype: float64

In [30]:
######  Question 6. Largest tip


sep_astoria = join[(join['Zone']=='Astoria') &  (join["lpep_pickup_datetime"].dt.to_period('M') == '2019-09')]

sep_astoria.groupby('Zonedropoff')['tip_amount'].max().reset_index().sort_values('tip_amount', ascending=False)

                 Zonedropoff  tip_amount
98               JFK Airport       62.31
208                 Woodside       30.00
106                 Kips Bay       28.00
135                       NV       25.00
2                    Astoria       20.00
..                       ...         ...
45         Crotona Park East        0.00
179         Sunset Park West        0.00
75             Fordham South        0.00
81                 Glen Oaks        0.00
0    Allerton/Pelham Gardens        0.00

[212 rows x 2 columns]